.navbar {
  width: 80%;
  padding: 1%;
  box-sizing: border-box;
  color: white;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  background-color: teal;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.products,
.home,
.about,
.element {
  color: black;
  width: 80%;
  margin: auto;
  padding: 2%;
  box-sizing: border-box;
}
.products > div > a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
